<div class='top row'>
  <div class='col s12 center-align fadeInFromScroll' id='project-1'>
    <div class='col m6 s12'>
      <img class='materialboxed responsive-img rounded-corner' src='images/gitGraph.png'>
    </div>
    <div class='col m6 s12 center-align'>
      <a class="brand-link" href='https://github.com/caneroj1/GitGraph'>
        <h4>GitGraph</h4>
      </a>
      <p class='left-align'>
        A visualization project for various GitHub statistics, such as commits per day or bytes written per language,
        GitGraph is written in Ruby and uses Chart.js for creating graphs. It is packaged as a gem and is intended to be
        highly extensible and is written in a very modular fashion.
      </p>
    </div>
  </div>
</div>
