<div class='row project-row'>
  <div class='col s12 center-align fadeInFromScroll' id='project-3'>
    <div class='col m6 s12'>
      <a class="brand-link" href='https://github.com/caneroj1/gitRecommenderRails'>
        <h4>GitRecommender</h4>
      </a>
      <p>
        GitRecommender is a GitHub recommendation system written in Rails that uses postgreSQL for its db.
        There are a lot of charts and visualization aspects present throughout the recommender, and I use Chart.js for all of the graphs.
        GitRecommender arose out of TCNJ's Spring 2015 Artifical Intelligence course, and it uses k-NN for calculating distance between repositories.
      </p>
      <img class='materialboxed responsive-img rounded-corner' src='images/gitRec2.png'>
    </div>
    <div class='col m6 s12'>
      <img class='materialboxed responsive-img rounded-corner' src='images/gitRec1.png'>
      <p class='margin-top'>
        GitRecommender is incomplete as of now. The original implementation also utilized Decision Trees, and I haven't gotten around
        to putting those in yet. The final goal is to use k-NN and Decision Trees to come up with precision recommendations. The recommender works by
        computing what languages users code in the most and comparing that to the languages of random repositories. Similar repositories are scored more highly
        than dissimilar ones. Another metric that is used in the recommender is keyword score. Users enter up to 5 keywords, and the recommender checks for the existence
        of those keywords in the readmes it is analyzing.
      </p>
    </div>
  </div>
</div>
