<div class='row project-row'>
  <div class='col s12 center-align fadeInFromScroll' id='project-2'>
    <div class='col l4 s12'>
      <a class="brand-link" href='https://github.com/caneroj1/team-ios'>
        <h4>Musicians Wanted</h4>
      </a>
      <p>
        Musicians Wanted is an iOS app written for finding local musicians and promoting events.
        The app was designed and implemented during TCNJ's Spring 2015 Cloud Computing class. The application uses
        Amazon Web Services for its infrastructure, specifically S3, RDS, among others.
      </p>
    </div>
    <div class='col l4 s12'>
      <img class='materialboxed responsive-img rounded-corner' src='images/musicianswanted.png'>
    </div>
    <div class="col l4 s12">
      <a class="brand-link" href='https://github.com/caneroj1/musiciansWantedAPI'>
        <h4>MW API</h4>
      </a>
      <p>
        The iOS app leverages a Ruby on Rails API to handle backend transactions, like
        user authentication, account management, posting of events, and other actions. The API uses
        postgreSQL as its DB and is hosted on a Linode VM. This was my second exposure to setting up nginx and Phusion Passenger on an
        Ubuntu VM in order to serve a Ruby app. My first experience with DevOps, my Valentine's Day Project, is found below.
      </p>
    </div>
  </div>
</div>
