%html
  %head
    %link{ type: "text/css", rel: "stylesheet", href: "assets/css/materialize.min.css", media: "screen,projection" }
    %link{ type: "text/css", rel: "stylesheet", href: "assets/css/caneroj1.css", media: "screen,projection" }
    %link{ type: "text/css", rel: "stylesheet", href: "assets/octicons/octicons.css", media: "screen,projection"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" }
  %body.green.lighten-2
    .navbar-fixed
      %nav
        .nav-wrapper
          %a.brand-logo Joe Canero
          %a.button-collapse{ href:"#", data: { activates:"mobile-demo" } }
            %i.mdi-navigation-menu
          %ul#nav-mobile.right.hide-on-med-and-down
            %li
              %a.nav-link{ href: "sass.html" }
                Blog
                %i.mdi-editor-mode-comment.left
            %li
              %a.nav-link{ href: "components.html" }
                Resume
                %i.mdi-image-portrait.left
          %ul#mobile.side-nav
            %li
              %a.nav-link{ href: "sass.html" }
                Blog
                %i.mdi-editor-mode-comment.left
            %li
              %a.nav-link{ href: "components.html" }
                Resume
                %i.mdi-image-portrait.left
    .container
      .row
        .col.m6.offset-m3.s12.center-align#main-content
          %img.responsive-img.circle.me{ src: "assets/images/caneroj1.jpg" }
          %h1.white-text.my-name Joe Canero
        .col.s12.m6.offset-m3.center-align#my-info
          %p
            %a.white-text{ href: "mailto:caneroj1@tcnj.edu" }
              %i.small.mdi-communication-email.icon
              caneroj1@tcnj.edu
          %p
            %a.white-text{ href: "https://github.com/caneroj1" }
              %span.octicon.octicon-mark-github.icon
              caneroj1
          %p
            %a.white-text{ href: "https://www.linkedin.com/in/josephcanero" }
              %img.responsive-img.icon.linked{ src: "assets/images/linked.png" }
              Joseph Canero
          %p
            %a.white-text
              %i.small.mdi-communication-location-on.icon
              New Jersey, New York, Philadelphia area
    .container#projects
      .row
        .col.m8.offset-m2.s12.center-align
          %h2.white-text#my-projects.fadeInFromScroll My Projects
      .row
        .col.s12.center-align.fadeInFromScroll#project-1
          .col.m6.s12
            %img.materialboxed.responsive-img.rounded-corner{ src: "assets/images/gitGraph.png" }
          .col.m6.s12.white-text
            %a.white-text{ href: "https://github.com/caneroj1/GitGraph" }
              %h4 GitGraph
            %p.left-align
              A visualization project for various GitHub statistics, such as commits per day or bytes written per language,
              GitGraph is written in Ruby and uses Chart.js for creating graphs. It is packaged as a gem and is intended to be
              highly extensible and is written in a very modular fashion.
      .row.project-row
        .col.s12.center-align.fadeInFromScroll#project-2
          .col.m6.s12.white-text
            %a.white-text{ href: "https://github.com/caneroj1/team-ios" }
              %h4 Musicians Wanted
            %p
              Musicians Wanted is an iOS app written for finding local musicians and promoting events.
              The app was designed and implemented during TCNJ's Spring 2015 Cloud Computing class. The application uses
              Amazon Web Services for its infrastructure, specifically S3, RDS, among others.
            %br
            %a.white-text{ href: "https://github.com/caneroj1/musiciansWantedAPI" }
              %h4 MW API
            %p
              The iOS app leverages a Ruby on Rails API to handle backend transactions, like
              user authentication, account management, posting of events, and other actions. The API uses
              postgreSQL as its DB and is hosted on a Linode VM. This was my second exposure to setting up nginx and Phusion Passenger on an
              Ubuntu VM in order to serve a Ruby app. My first experience with DevOps, my Valentine's Day Project, is found below.
          .col.m6.s12
            %img.materialboxed.responsive-img.rounded-corner{ src: "assets/images/musicianswanted.png" }
      .row.project-row
        .col.s12.center-align.fadeInFromScroll#project-3
          .col.m6.s12
            %img.materialboxed.responsive-img.rounded-corner{ src: "assets/images/gitRec1.png" }
            %p.white-text.margin-top
              GitRecommender is incomplete as of now. The original implementation also utilized Decision Trees, and I haven't gotten around
              to putting those in yet. The final goal is to use k-NN and Decision Trees to come up with precision recommendations. The recommender works by
              computing what languages users code in the most and comparing that to the languages of random repositories. Similar repositories are scored more highly
              than dissimilar ones. Another metric that is used in the recommender is keyword score. Users enter up to 5 keywords, and the recommender checks for the existence
              of those keywords in the readmes it is analyzing.
          .col.m6.s12.white-text
            %a.white-text{ href: "https://github.com/caneroj1/gitRecommenderRails" }
              %h4 GitRecommender
            %p
              GitRecommender is a GitHub recommendation system written in Rails that uses postgreSQL for its db.
              There are a lot of charts and visualization aspects present throughout the recommender, and I use Chart.js for all of the graphs.
              GitRecommender arose out of TCNJ's Spring 2015 Artifical Intelligence course, and it uses k-NN for calculating distance between repositories.
            %img.materialboxed.responsive-img.rounded-corner{ src: "assets/images/gitRec2.png" }
      .row.project-row
        .col.s12.center-align.fadeInFromScroll#project-4
          .col.s12
            %a.white-text{ href: "https://github.com/caneroj1/dojob" }
              %h4 DoJob
            %img.materialboxed.responsive-img.rounded-corner{ src: "assets/images/dojob.png" }
          .col.s12.m8.offset-m2
            %p.white-text.center-align
              DoJob is a fully-functional Rails site build for a business competition at TCNJ. The aim is to empower college students
              to find jobs, like walking dogs or mowing lawns, in their local community. The site allows users to search for jobs, chat with other users,
              and arrange for jobs. In addition to that functionality, there is a wide array of skill surveys for things like Pet Care that allow users to
              specify their credentials. This was my first exposure with Elasticsearch and Faye, and the site was designed entirely by me.
      .row.project-row
        .col.s12.center-align.fadeInFromScroll#project-5
          .col.s12
            %a.white-text{ href: "https://github.com/caneroj1/vday-proj" }
              %h4 Valentine's Day Project
            %img.materialboxed.responsive-img.rounded-corner{ src: "assets/images/valday.png" }
          .col.s12.m8.offset-m2
            %p.white-text.center-align
              This was my Valentine's Day, 2015 gift for my girlfriend. It is a postgreSQL-backed, Sinatra application
              that streams videos of my drumming. This was my first exposure to setting up a virtual machine on my own, and I learned
              how to set up nginx and Phusion Passenger in order to serve the application. I also utilize Amazon Web Services to stream
              videos stored in S3 using a CloudFront distribution.
    .container#about
      .row
        .col.m8.offset-m2.s12.center-align
          %h2.white-text#about-me.fadeInFromScroll About Me
        .col.m8.offset-m2.s12.center-align
          %h3.white-text#previous-work.fadeInFromScroll Where have I worked?
        .col.m6.s12.work-cards.fadeInFromScroll#card-1
          .card
            .card-image
              %img{ src: "assets/images/frontrush.png" }
              %span.card-title.black-text Front Rush
            .card-content
              %p
                Front Rush is a software company focused on athletics. They make tools to help college coaches
                during the recruiting process, as well as tools for high school athletes to get noticed by coaches.
            .card-action
              %p
                When?
                %small May 2014 - August 2014
              %p
                Skills used
                %small Ruby, Ruby on Rails, HTML (Haml), CSS (SASS), Javascript/jQuery (Coffeescript), postgreSQL
              %a{ href: "http://www.frontrush.com/web/" } go to Front Rush
        .col.m6.s12.work-cards.fadeInFromScroll#card-2
          .card
            .card-image
              %img{ src: "assets/images/cabect.png" }
              %span.card-title.black-text TCNJ Muse
            .card-content.cabect-strip
              %p
                TCNJ Muse is an undergraduate summer research opportunity. I researched social computation
                and human computation, and developed a web app, called Cabect. The app is a "gamified" research project
                repository for multidisciplinary Computer Science projects.

                The research and work from Muse was continued throughout that academic year as my capstone project.
            .card-action
              %p
                When?
                %small June 2013 - May 2014
              %p
                Skills used
                %small PHP, postgreSQL, HTML, CSS, Javascript, UML
              %a{ href: "http://www.tardis.tcnj.edu/cabect" } go to CABECT
      .row
        .col.m8.offset-m2.s12.center-align
          %h2.white-text#interests.fadeInFromScroll Tech Skills
        .col.s12.center-align.skill-row#sr1.fadeInFromScroll
          .col.s12.m4.left-skill
            %img.ruby{ src: "assets/images/ruby.png"}
          .col.s12.m4.mid-skill
            %img.java{ src: "assets/images/java.png"}
          .col.s12.m4.right-skill
            %img.cpp{ src: "assets/images/c++.png"}
        .col.s12.center-align.skill-row#sr2.fadeInFromScroll
          .col.s12.m4.left-skill
            %img.swift{ src: "assets/images/swift.png"}
          .col.s12.m4.mid-skill
            %img.rails{ src: "assets/images/rails.png"}
          .col.s12.m4.right-skill
            %img.js{ src: "assets/images/javascript.png"}
        .col.s12.center-align.skill-row#sr3.fadeInFromScroll
          .col.s12.m4.left-skill
            %img.html{ src: "assets/images/html.png"}
          .col.s12.m4.mid-skill
            %img.css{ src: "assets/images/css.png"}
          .col.s12.m4.right-skill
            %img.postgres{ src: "assets/images/postgres.png"}
    %script{ type: "text/javascript", src: "https://code.jquery.com/jquery-2.1.1.min.js" }
    %script{ type: "text/javascript", src: "assets/js/materialize.min.js" }
    %script{ type: "text/javascript", src: "assets/js/index.js" }
