<header class="site-header">
  <div class="wrapper">
    <div id="navfix">
      <nav>
        <div class='nav-wrapper'>
          <a class='button-collapse' data-activates='mobile-demo' href='#'>
            <i class='mdi-navigation-menu'></i>
          </a>
          <ul class='splash-nav-ul hide-on-med-and-down' id='nav-mobile'>
            <li class="splash-nav-li">
              <a class='nav-link' href='https://github.com/caneroj1'>
                <img src="images/github.png" class="responsive-img icon">
                Github
              </a>
            </li>
            <li class="splash-nav-li">
              <a class='nav-link' href='https://twitter.com/JCanero'>
                <img src="images/twitter.png" class="responsive-img icon">
                Twitter
              </a>
            </li>
            <li class="splash-nav-li">
              <a class='nav-link' href='./blog.html'>
                Blog
                <i class='mdi-editor-mode-comment left'></i>
              </a>
            </li>
            <li class="splash-nav-li">
              <a class='nav-link' href='resume/resume.pdf'>
                Resume
                <i class='mdi-image-portrait left'></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

  </div>

</header>
