%html
  %head
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet" }
    %link{ type: "text/css", rel: "stylesheet", href: "../assets/css/materialize.min.css", media: "screen,projection" }
    %link{ type: "text/css", rel: "stylesheet", href: "../assets/css/caneroj1.css", media: "screen,projection" }
    %link{ type: "text/css", rel: "stylesheet", href: "../assets/octicons/octicons.css", media: "screen,projection"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" }
  %body.green.lighten-2
    .navbar-fixed
      %nav
        .nav-wrapper
          %a.brand-logo{ href: "../index.html" } Joe Canero
          %a.button-collapse{ href:"#", data: { activates:"mobile-demo" } }
            %i.mdi-navigation-menu
          %ul#nav-mobile.right.hide-on-med-and-down
            %li
              %a.nav-link{ href: "./blog.html" }
                Blog
                %i.mdi-editor-mode-comment.left
            %li
              %a.nav-link{ href: "../assets/resume/resume.pdf" }
                Resume
                %i.mdi-image-portrait.left
    .container
      .row
        .col.m10.offset-m1.s12.center-align.project-row.valign-wrapper
          .col.m2.offset-m3.s12.center-align.no-padding
            %img.blog-pic{ src: "../assets/images/rbpi.ico" }
          .col.m2.s12.center-align.no-padding.white-text
            %h1.super +
          .col.m2.s12.center-align.no-padding
            %img.blog-pic{ src: "../assets/images/beer.png" }
        .col.s12.center-align.project-row.white-text
          %h1.no-top-margin Beer Fridge of Awesomeness
          %p.flow-text
            The "Beer Fridge of Awesomeness" is a cool project I found on
            %a.blog-link{ href: "https://github.com/InitialState/beerfridge" } Github
            that walks you through using a Raspberry Pi to build your very own smart beer fridge!
            The Beer Fridge can detect when it's open, measure its temperature and count the number of bottles inside.
        .col.s12.center-align.project-row.white-text.start
          .col.m6
            %h3 First Things First
            %p.flow-text
              I've never used a Raspberry Pi, so first I had to get my Ultimate Starter Kit. The project has
              a pretty long list of required parts, so I had to order those as well.
          .col.m6
            %img.blog-post-pic{ src: "../assets/images/6272015setup.jpg" }
        .col.s12.center-align.project-row.white-text
          %h2 The Pi is Almost Done
          %img.blog-post-pic{ src: "../assets/images/6272015rbpi.jpg", style: "width: 50%;" }
          %p.flow-text
            Installing Raspbian, the default Raspberry Pi OS was pretty simple. There's a tool called
            NOOBS,
            %small seriously,
            that pretty much does it for you.
        .col.s12.center-align.project-row.white-text
          %h2 Next Steps
          %p.flow-text
            The Raspberry Pi needed some way to count the number of bottles in the fridge, so I had to
            connect the Raspberry Pi, via bluetooth, to a Wii Fit Balance Board and place the fridge on top.
            Then I was able to measure the weight of the fridge.
          %img.blog-post-pic{ src: "../assets/images/6272015wii.jpg", style: "width: 60%;" }
          %br
          %br
          %p.flow-text
            The next step was to start wiring everything up.
            Some of the parts necessary for the beer fridge to be totally awesome include a temperature sensor
            and a door sensor. Getting these working with the Raspberry Pi was the most difficult part of the project,
            and required a steady hand. Below is the fully wired Pi.
          %img.blog-post-pic{ src: "../assets/images/6272015fridge.jpg", style: "width: 60%;" }
        .col.s12.center-align.project-row.white-text
          %h2 Finishing Up
          .col.m6
            %p.flow-text
              All the sensors were working at this point, so it was time to fill the fridge! As I mentioned before, you should fill
              the fridge with beverages that all weigh pretty much the same. After loading up on Summer Shandy, I weighed the fridge with
              the bottles inside in order to determine each bottle's weight.
          .col.m6
            %img.blog-post-pic{ src: "../assets/images/6272015beer.jpg", style: "width: 60%;" }
        .col.s12.center-align.project-row.white-text
          %h2 Project Complete!
          %p.flow-text
            Finally, the tutorial sets you up on a neat visualization dashboard where you can see the status of your beer fridge and monitor
            things like temperature and the number of bottles inside.
          %img.blog-post-pic{ src: "../assets/images/6272015final.png", style: "width:80%;" }
        .col.s12.center-align.project-row.white-text
          %h2 Closing Remarks
          %p.flow-text
            In the end, I thought the Beer Fridge of Awesomeness was a nice project to help me kill some time. It was my first exposure
            to working with a Raspberry Pi, and I learned a fair amount about setting up circuits and other hardware. I'm on the lookout for my next
            project!

      %script{ type: "text/javascript", src: "https://code.jquery.com/jquery-2.1.1.min.js" }
      %script{ type: "text/javascript", src: "../assets/js/materialize.min.js" }
