h1,
h2,
h3,
h4
{
  font-weight: 200;
}

a,
p
{
  font-weight: 300;
}

.me
{
  box-shadow: 3px 3px 3px #2d2d2d;
  margin-top: 15%;
  width: 75%;
}

.project-row
{
  margin-top: 10%;
}

.margin-top
{
  margin-top: 5%;
}

#main-content,
#my-info
{
  display: none;
}

.fadeInFromScroll
{
  opacity: 0;
}

.icon
{
  vertical-align: middle;
  margin-right: 1%;
  font-size: 2rem !important;
}

.rounded-corner
{
  border-radius:15px;
}

.linked
{
  width: 10%;
}
