<div class="col s12 m3 l4">
  <h3>What do I know?</h3>
  <hr class="separator">
  <ul>
    <li><h4>Ruby</h4></li>
    <li><h4>C++</h4></li>
    <li><h4>Javascript</h4></li>
  </ul>
</div>
<div class="col s12 m6 l4">
  <img src="images/caneroj1.jpg" class="me responsive-img circle">
</div>
<div class="col s12 m3 l4">
  <h3>What do I like?</h3>
  <hr class="separator">
  <ul>
    <li><h4>API Building</h4></li>
    <li><h4>Visualization</h4></li>
    <li><h4>Machine Learning</h4></li>
  </ul>
</div>
