<h2 class="white-text">Where Have I Worked?</h2>
<hr class="separator-white">
<div class="margin-top overflow">
  <div class='col m5 offset-m1 s12 work-cards fadeInFromScroll' id='card-1'>
    <div class='card'>
      <div class='card-image'>
        <img src='images/frontrush.png'>
        <span class='card-title black-text'>Front Rush</span>
      </div>
      <div class='card-content'>
        <p>
          Front Rush is a software company focused on athletics. They make tools to help college coaches
          during the recruiting process, as well as tools for high school athletes to get noticed by coaches.
        </p>
      </div>
      <div class='card-action'>
        <p>
          When?
          <br>
          <small>May 2014 - August 2014</small>
        </p>
        <p>
          Skills used
          <br>
          <small>Ruby, Ruby on Rails, HTML (Haml), CSS (SASS), Javascript/jQuery (Coffeescript), postgreSQL</small>
        </p>
        <a class="brand-link" href='http://www.frontrush.com/web/'>go to Front Rush</a>
      </div>
    </div>
  </div>

  <div class='col m5 s12 work-cards fadeInFromScroll' id='card-2'>
    <div class='card'>
      <div class='card-image'>
        <img src='images/cabect.png'>
        <span class='card-title black-text'>TCNJ Muse</span>
      </div>
      <div class='card-content cabect-strip'>
        <p>
          TCNJ Muse is an undergraduate summer research opportunity. I researched social computation
          and human computation, and developed a web app, called Cabect. The app is a "gamified" research project
          repository for multidisciplinary Computer Science projects.
          The research and work from Muse was continued throughout that academic year as my capstone project.
        </p>
      </div>
      <div class='card-action'>
        <p>
          When?
          <br>
          <small>June 2013 - May 2014</small>
        </p>
        <p>
          Skills used
          <br>
          <small>PHP, postgreSQL, HTML, CSS, Javascript, UML</small>
        </p>
        <a class="brand-link" href='http://www.tardis.tcnj.edu/cabect'>go to CABECT</a>
      </div>
    </div>
  </div>
</div>
