<div class='row project-row'>
  <div class='col s12 center-align fadeInFromScroll' id='project-4'>
    <div class='col s12'>
      <a class="brand-link" href='https://github.com/caneroj1/dojob'>
        <h4>DoJob</h4>
      </a>
      <img class='materialboxed responsive-img rounded-corner half-width-responsive' src='images/dojob.png'>
    </div>
    <div class='col s12 m8 offset-m2'>
      <p class='center-align'>
        DoJob is a fully-functional Rails site build for a business competition at TCNJ. The aim is to empower college students
        to find jobs, like walking dogs or mowing lawns, in their local community. The site allows users to search for jobs, chat with other users,
        and arrange for jobs. In addition to that functionality, there is a wide array of skill surveys for things like Pet Care that allow users to
        specify their credentials. This was my first exposure with Elasticsearch and Faye, and the site was designed entirely by me.
      </p>
    </div>
  </div>
</div>
