<div class='row project-row'>
  <div class='col s12 center-align fadeInFromScroll' id='project-5'>
    <div class='col s12'>
      <a class="brand-link" href='https://github.com/caneroj1/vday-proj'>
        <h4>Valentine's Day Project</h4>
      </a>
      <img class='materialboxed responsive-img rounded-corner half-width-responsive' src='images/valday.png'>
    </div>
    <div class='col s12 m8 offset-m2'>
      <p class='center-align'>
        This was my Valentine's Day, 2015 gift for my girlfriend. It is a postgreSQL-backed, Sinatra application
        that streams videos of my drumming. This was my first exposure to setting up a virtual machine on my own, and I learned
        how to set up nginx and Phusion Passenger in order to serve the application. I also utilize Amazon Web Services to stream
        videos stored in S3 using a CloudFront distribution.
      </p>
    </div>
  </div>
</div>
