<div class="center-align white-text">
  <h3>Some More Details</h3>
  <hr class="separator-white">
  <div class="col s12 m6 offset-m3">
    <p class="flow-text">I just graduated from The College of New Jersey with a degree in Computer Science, and am currently working as a software engineer at <a class="brand-link" href="http://www.alk.com">ALK Technologies, Inc.</a> in Princeton, New Jersey. I am obsessed with building awesome things, so check out some of my projects below, read my blog, or download my resume.</p>
  </div>
</div>
