h1,
h2,
h3,
h4,
td
{
  font-weight: 200;
}

a,
p,
th
{
  font-weight: 300;
}

.icon
{
  vertical-align: middle;
  margin-right: 5px;
  font-size: 2rem !important;
  width: 30px;
}

nav
{
  background-color: $brand-color !important;
}

.lighten
{
  background-color: $brand-lighten;
}

.nav-link,
.brand-logo,
.blog-title
{
  color: white !important;
}

.brand-logo
{
  margin-left: 1%;
}

.no-pad
{
  padding: 0;
}

.parallax-header
{
  z-index: -1;
}

.full-width
{
  width: 100%;
}

.half-width,
.half-width-responsive
{
  width: 50%;
}

@include media-query($on-palm)
{
  .half-width-responsive
  {
    width: 100%;
  }
}

.navbar-fixed-top
{
  position: fixed;
  top: 0;
  width: 100%;
}

.splash-nav-ul
{
  float: right;
  width: 100%;
  text-align: center;
}

.splash-nav-li
{
  display: inline-block;
  float: none;
}

.button-collapse
{
  float: right !important;
  padding-right: 10px;
}

.section-space
{
  margin-top: 10%;
}

.section-space-reduced
{
  margin-top: 5%;
}

.section-title
{
  margin-top: 5%;
  margin-bottom: 8%;
}

@include media-query($on-laptop)
{
  .section-title
  {
    margin-top: 9%;
    margin-bottom: 11%;
  }
}


@include media-query($on-palm)
{
  .section-title
  {
    margin-top: 9%;
    margin-bottom: 13%;
  }
}

.separator
{
  border: solid 1px $brand-color;
  width: 50%;
}

.separator-white
{
  border: solid 1px white;
  width: 25%;
}

.me
{
  box-shadow: 3px 2px 5px #2d2d2d;
}

@include media-query($on-palm)
{
  .me
  {
    width: 50%;
  }
}

.overflow
{
  overflow: auto;
}

.pad
{
  padding: 20px;
}

.top
{
  margin-top: 5%;
}

.project-row
{
  margin-top: 7%;
}

.margin-top
{
  margin-top: 1.424rem;
}

.fadeInFromScroll
{
  opacity: 0;
}

.brand-link
{
  color: $brand-color !important;
}
